<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>MakerBnB</h1>
    <form class="" action="SignUp.ejs" method="get">
        <a href="/SignUp" class="btn">Sign up</a>
      <!-- <ul><button type="submit">Sign Up</button></ul> -->
    </form>
    <form class="" action="LogIn.ejs" method="get">
        <a href="/LogIn" class="btn">Log in</a>
      <ul><button type="submit">Log In</button></ul>
    </form>
  </body>
</html>
